

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

// Wine Colors
$color-almost-clear: rgb(217, 216, 172);
$color-green-yellow: rgb(192, 199, 124);
$color-platinum-yellow: rgb(212, 203, 128);
$color-pale-yellow: rgb(230, 211, 132);
$color-pale-gold: rgb(230, 166, 58);
$color-deep-gold: rgb(236, 150, 11);
$color-pale-salmon: rgb(234, 148, 101);
$color-deep-pink: rgb(207, 27, 72);
$color-deep-salmon: rgb(212, 29, 31);
$color-pale-ruby: rgb(124, 3, 10);
$color-deep-violet: rgb(103, 20, 30);
$color-deep-purple: rgb(76, 21, 27);
$color-tawny: rgb(118, 21, 4);

$theme-colors: (
        "custom-color": #900
);

$theme-colors: map-remove($theme-colors, "primary", "success", "info", "danger");